<app-titulo label="QUESTIONÁRIO"></app-titulo>


<div class="link">
  <a routerLink="">Voltar</a>
</div>



<div class="card">
  <p-table [value]="listaPerguntas" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
          <th style="width: 30px">ID</th>
          <th>Descrição</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pergunta>
        <tr>
          <td>{{pergunta.id}}</td>
          <td>{{pergunta.pergunta}}</td>
        </tr>
    </ng-template>
  </p-table>
</div>

